extends ../main-layout

block title
  | Блог Страница

block content
  section.section.blog-hiro
    .user.hiro__user-block
      .user__block
        img.user__avatar(src="img/user.png", alt="")
        h1.user__title.user__title_blog БЛОГ
        p.user__text Статьи, которые я написал

  section.section.sec-triangle
    .sec-triangle__col
      svg(
      viewbox="0 0 1000 200"
      preserveAspectRatio="none"
      class="triangle triangle_fill_white about__triangles")
        polygon(points="0,0 0,200 1000,200")
    .sec-triangle__col
      svg(
      viewbox="0 0 1000 200"
      preserveAspectRatio="none"
      class="triangle triangle_fill_white about__triangles")
        polygon(points="0,200 1000,200 1000,0")

  section.section.blog
    .blog__sidebar
      ul.blog__sidebar-list
        // each item, key in ['Самое важное в SASS','Приёмы в вёрстке, без которых не обходится ни один сайт','Самый необходимый набор Gulp плагинов','Почему я выбрал Jade']
        //   if key == 0
        //     li.blog__sidebar-item.blog__sidebar-item_active
        //       a.blog__sidebar-link(href="#")= item
        //   else
        //     li.blog__sidebar-item
        //       a.blog__sidebar-link(href="#")= item

    .blog__articles
      article.blog__article
        h2.blog__articles-head Самое важное в SASS
        .blog__articles-date 22 ноября 2016
        .blog__articles-content
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          img(src="userfiles/img-1.jpg" alt="")

      article.blog__article
        h2.blog__articles-head Приёмы в вёрстке, без которых не обходится ни один сайт
        .blog__articles-date 22 ноября 2016
        .blog__articles-content
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

  include ../parts/footer